
:root{
    --grey: #261e1e;
    --white: #F9F9F9;
    --pink: #EBC697;
}

*{
    margin: 0;
    padding: 0;

    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
html {
    height: 100%;
    width: 100%;

    color: var(--white);
    background-color: var(--grey);
  }
  
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    align-items: center;
  }

.title{
    font-size: 28px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 14px;
  }
li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:var(--white);
}
a:visited{
    text-decoration: none;
    color:var(--white);
}

.section2 a:visited{
    text-decoration: none;
    color: black;
}

.grad-top{
    margin-top: auto;

    background-image: linear-gradient(var(--grey), var(--pink), var(--pink));
    height:33px;
}

.section1{
    padding: 28px;
    background-color: var(--pink);
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}


.container{
    background-color: var(--white);
    color: black;
    padding: 20px;
    border-radius: 10px;
}

.google-colab-takes-eons-to-train-a-model{
    border-radius: 10px;
    width: 32vw;
    height: auto;
}


.grad-bottom{
    background-image: linear-gradient(var(--pink), var(--grey),var(--grey));
    height:33px;
}


.section2{
    padding: 28px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.model-card{
    background-color: var(--white);
    color: black;
    text-decoration: underline;
    padding: 4px 25px 4px 25px;
    border-radius: 25px;
}


footer{
    margin-top:auto;

    display:flex;
    justify-content: center;

    background-color: var(--grey);

    margin-bottom: 1vw;
}


/* TEAM PAGE SPECIFIC */

.section3{ 
    padding: 28px;
    background-color: var(--pink);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
}

.team-pic{
    width:840px;
    /* border-radius: 22px; */
    border: 2px solid var(--grey);
}

.names{
    color: black;
    font-size: 14px;
    text-align: center;
}


.container2{
    color: black;
    padding: 20px;
    border-radius: 10px;
}

.team-name{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* TEAM PAGE SPECIFIC */

.container3{
    background-color: var(--white);
    color: black;
    padding: 20px;
    border-radius: 10px;


    text-align: center;
}

.about{
    margin-bottom: 18px;
}

/* .container3 p{
    
} */

.last{
    margin-top: 1rem;
    text-decoration: underline;
}

.last a{
    color: black;
}

/* PLAYGROUND ONLY */

#predictions{
    width:40vw;
    text-align: center;
}

#predictions img{
    width: 33vw;
    height: auto;
}
